<!-- Componente principal -->
<div class="content-wrapper">
 
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>Hospital Básico de la Zona El Oro</h1>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
  <div class="container">
    <div>

      <!-- Main content -->
      <section class="content">

        <!-- Default box -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Misión</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            Ofrecer servicios de excelencia en el campo médico, con la más avanzada tecnología, para lograr la satisfacción total de nuestros clientes.
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Visión</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
            Ser una institución conocida y respetada por su compromiso continuo con la excelencia.
          </div>

        </div>

        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Objetivos estratégicos</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <div class="card-body">
          <ul>
            <li>Servir a nuestros clientes con honestidad, integridad y calor humano.</li>
            <li>Ofrecer servicios de excelencia, de forma rápida y eficiente.</li>
            <li>Trabajar en equipo, con entusiasmo y dedicación.</li>
            <li>Dar siempre el máximo para cumplir nuestro compromiso con la excelencia.</li>
          </ul>
          </div>
        </div>
        <!-- /.card -->

      </section>
      <!-- /.content -->
    </div>

    <div class="card ml-4">
      <div class="card-body">
        <img class="imagen-principal" src="assets/img/medicos.jpg">
      </div>
    </div>

  </div>
   
</div>
